/* <============== General page styling ==============> */

#root { 
  background-color: white;
  color: black;
  font-family: "Figtree", sans-serif;
  font-size: 12pt;
  display: grid;
  grid-template-areas: 
    'header sidebar'
    'main sidebar';
  box-sizing: border-box;
}

/* <============== Sidebar styling ==============> */

.filter-sidebar {
  grid-area: sidebar;
  width: 325px;
  border-left: solid 1px black;
  padding: 10px;
}

.filter-sidebar-header {
  font-weight: bold;
  font-size: 14pt;
  color: #060081;
  margin-top: 5px;
  margin-bottom: 5px;
}

.requirement-filters, .certificate-filters, .topic-filters {
  margin-left: 10px;
}

.requirement-filters-text, .certificate-filters-text, .topic-filters-text {
  margin-bottom: 5px;
}

.requirement-filters-text-adl, .certificate-filters-text-adl, .topic-filters-text-adl {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 9pt;
}

.requirement-filters-btn-text, .certificate-filters-btn-text, .topic-filters-btn-text {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.requirement-filters-btn, .certificate-filters-btn, .topic-filters-btn {
  margin-right: 10px;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  appearance: none;
  background-color: white;
  border: solid 1px black;
  border-radius: 2.5px;
}

.requirement-filters-btn:hover, .certificate-filters-btn:hover, .topic-filters-btn:hover {
  background-color: rgba(6, 0, 129, 0.7);
}

.requirement-filters-btn:checked, .certificate-filters-btn:checked, .topic-filters-btn:checked {
  background-color: #060081;
  outline: solid 2px white;
  outline-offset: -3px;
  border: solid 1px #060081;
}

.clear-filters-btn {
  margin-top: 15px;
  margin-left: 90px;
  background-color: #060081;
}

.clear-filters-btn:disabled {
  color: rgba(255, 255, 255, 0.6);
}

/* <============== Header styling ==============> */

.header-section {
  grid-area: header;
  border-bottom: solid 1px black;
  width: 100%;
}

.catalog-title {
  color:#060081;
  margin-top: 15px;
  margin-left: 15px;
}



.main-content {
  grid-area: main;
}

/* <============== Individual course item styling ==============> */

.course-item {
  list-style: none;
  width: 90%;
  padding: 10px;
  border-top: solid 1px black;
}

.course-id-title {
  font-size: 14pt;
  font-weight: bold;
  margin: 10px 0px;
  color: #060081;
}

.course-units, .course-instructor, .course-timeslot {
  margin: 12px 0px;
}

.course-timeslot-text {
  margin-top: 8px;
  margin-bottom: -5px;
  font-weight: 600;
}

.course-timeslot-details {
  margin: 5px 12px;
  list-style-type: circle;
  list-style-position: inside;
}

.course-timeslot-details-single {
  margin: 5px 0px;
}

.course-description {
  margin: 12px 0px;
}

.course-other {
  font-size: 11pt;
  font-style: italic;
  margin: 12px 0px;
}

.course-requirements, .course-DScert {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.course-requirements-text, .course-requirements-req, .course-DScert-text, .course-DScert-type {
  padding: 0px 2px;
  margin: 0px;
}

.course-requirements-req, .course-DScert-type {
  font-weight: 600;
}

.course-topics {
  display: flex;
  align-items: center;
  margin: 5px 0px 10px;
  padding: 0px;
}

.course-topics-text {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.course-topic {
  border: solid 1px #060081;
  padding: 5px 12px;
  margin-right: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #060081;
  color: white;
  border-radius: 8px;
  font-size: 11pt;
}