/* <============== General page styling ==============> */

#root { 
  background-color: white;
  color: black;
  font-family: "Figtree", sans-serif;
  font-size: 12pt;
  display: grid;
  grid-template-areas: 
    'navbar navbar'
    'header sidebar'
    'main sidebar';
  grid-template-rows: auto;
  grid-template-columns: auto;
  box-sizing: border-box;
  overflow-wrap: break-word; /* There's one specific course with a very very long Google Forms link... */
}

/* <============== Navbar styling =============>
Hamburger menu styling and animation sourced from professor Kay Ashaolu's work on Info 253A Lab 2 */

.navbar {
  grid-area: navbar;
  border-bottom: solid 1px black;
  display: none;
  width: 100%;
  height: 55px;
}

#navbar-btn {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.navbar-btn-label {
  display: none;
  width: 28px;
  height: 24px;
  margin: 0px 10px 5px 20px;
  cursor: pointer;
}

.navbar-btn-label span {
  display: block;
  height: 3px;
  margin: 5px 0px;
  background: #060081;
  border-radius: 2px;
  transition: 0.2s;
}

/* Hamburger menu animation on click (menu open/close) */
#navbar-btn:checked + .navbar-btn-label span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
#navbar-btn:checked + .navbar-btn-label span:nth-child(2) { opacity: 0; }
#navbar-btn:checked + .navbar-btn-label span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* <============== Sidebar styling ==============> */

.filter-sidebar {
  grid-area: sidebar;
  width: 325px;
  border-left: solid 1px black;
  padding: 10px;
}

.filter-sidebar-header {
  font-weight: bold;
  font-size: 14pt;
  color: #060081;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.requirement-filters, .certificate-filters, .topic-filters {
  margin-left: 10px;
}

.requirement-filters-text, .certificate-filters-text, .topic-filters-text {
  margin-bottom: 5px;
}

.requirement-filters-text-adl, .certificate-filters-text-adl, .topic-filters-text-adl {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 9pt;
}

.requirement-filters-btn-text, .certificate-filters-btn-text, .topic-filters-btn-text {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 11pt;
  cursor: pointer;
}

.requirement-filters-btn, .certificate-filters-btn, .topic-filters-btn {
  margin-right: 10px;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  appearance: none;
  background-color: white;
  border: solid 1px black;
  border-radius: 2.5px;
}

.requirement-filters-btn:hover, .certificate-filters-btn:hover, .topic-filters-btn:hover {
  background-color: rgba(6, 0, 129, 0.7);
}

.requirement-filters-btn:checked, .certificate-filters-btn:checked, .topic-filters-btn:checked {
  background-color: #060081;
  outline: solid 2px white;
  outline-offset: -3px;
  border: solid 1px #060081;
}

.clear-filters-btn {
  display: block;
  margin: 15px auto;
  background-color: #060081;
}

.clear-filters-btn:disabled {
  color: rgba(255, 255, 255, 0.6);
}

/* <============== Header styling ==============> */

.header-section {
  grid-area: header;
  border-bottom: solid 1px black;
  width: 100%;
  height: 100%;
}

.catalog-title {
  color:#060081;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.catalog-details {
  width: 95%;
  box-sizing: border-box;
  margin-left: 20px;
  padding-right: 10px;
}

.add-form-shortcut {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #060081;
  cursor: pointer;
}

.add-form-shortcut:hover {
  color: rgba(6, 0, 129, 0.7);
}

/* <============== Main content section / miscellaneous styling =============> */

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 340px;
  box-sizing: border-box;
}

.catalog-list {
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  width: 100%;
}

.catalog-description {
  width: 90%;
}

.page-top-shortcut {
  position: fixed;
  top: 12px;
  right: 15px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px black;
}

/* <============== Breadcrumb styling =============> */

.breadcrumbs-section {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 15px;
  padding-right: 10px;
  align-items: center;
  border-radius: 20px;
  background-color: #060081;
  color: white;
}

.breadcrumb-text {
  font-size: 11pt;
  margin: 0px 8px 0px 5px;
  padding: 8px 0px 8px 8px;
}

.breadcrumb-btn {
  width: 15px;
  height: 15px;
  padding: 0px 0px 18px 0px;
  font-size: 11pt;
  color: white;
  background-color: #060081;
}

.breadcrumb-btn:hover {
  color: #be0000;
  border-color: #060081;
}

/* <============== Individual course item styling ==============> */

.course-item {
  list-style: none;
  width: 90%;
  padding: 10px;
  border-top: solid 1px black;
}

.course-id-title {
  font-size: 14pt;
  font-weight: bold;
  margin: 10px 0px;
  color: #060081;
}

.course-units, .course-instructor, .course-timeslot {
  margin: 12px 0px;
  padding-left: 0px;
}

.course-timeslot-text {
  margin-top: 8px;
  margin-bottom: -5px;
  font-weight: 600;
}

.course-timeslot-details {
  margin: 5px 12px;
  list-style-type: circle;
  list-style-position: inside;
}

.course-timeslot-details-single {
  margin: 5px 0px;
}

.course-description {
  margin: 12px 0px;
}

.course-other {
  font-size: 11pt;
  font-style: italic;
  margin: 12px 0px;
}

.course-requirements, .course-DScert {
  margin: 12px 0px;
}

.course-requirements-req, .course-DScert-type {
  padding: 0px 5px;
  font-weight: 600;
}

.course-topics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0px 5px;
  padding: 0px;
}

.course-topics-text {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.course-topic {
  border: solid 1px #060081;
  padding: 5px 12px;
  margin-right: 7px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: #060081;
  color: white;
  border-radius: 8px;
  font-size: 11pt;
}

/* <============= Course addition form styling ============> */

#course-add-section {
  padding-bottom: 25px;
  width: 90%;
  border-top: solid 1px black;
}

.course-add-header {
  color: #060081;
  margin-top: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 5px;
  margin-right: 15px;
}

.form-input {
  height: 20px;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding-left: 10px;
  color: black;
  font-family: "Figtree", sans-serif;
}

.form-input-description {
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding-left: 10px;
  color: black;
  font-family: "Figtree", sans-serif;
}

.form-btn-header {
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-group-btn {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
}

.form-btn-label {
  margin-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-btn {
  margin-right: 10px;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  appearance: none;
  background-color: white;
  border: solid 1px black;
  border-radius: 2.5px;
}

.form-btn:hover {
  background-color: rgba(6, 0, 129, 0.7); 
}

.form-btn:checked {
  background-color: #060081;
  outline: solid 2px white;
  outline-offset: -3px;
  border: solid 1px #060081;
}

.error {
  border: solid 2px #be0000;
}

.error-message {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 11pt;
  color: #be0000;
}

.course-add-submit {
  background-color: #060081;
}

/* <============= Responsive styling based on screen size! =============>
Relegates the filter sidebar to be "hidden" behind the navbar instead */

@media (max-width: 780px) {

  .filter-sidebar {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar-btn-label {
    display: block;
  }

  #navbar-btn:checked ~ .navbar-menu-text {
    display: none;
  }

  #navbar-btn:checked ~ .filter-sidebar {
    display: block;
    position: absolute;
    width: 100%;
    top: 55.5px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px gray;
    border-left: none;
  }  
}